body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  background: darkmagenta;
  color: white;
}

.footer {
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #666;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* SOLUTION */
body{
  display: flex;
  flex-direction: column;
}

.header{
  height: 70px;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.main-content{
  display:flex;
  flex-grow: 1;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li{
  margin-bottom: 16px;
}

.sidebar{
  padding:16px;
  flex-shrink: 0;
}

.card-content{
  padding: 32px;
  display:flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  padding: 16px;
  margin: 16px;
}

.footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}